div.quote {
  width: 610px;
  border: 1px solid darkslategrey;
  padding: 5px;
}
div.content {
  width: 400px;
  display: inline-block
}
div.rating {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
div.buttons {
  vertical-align: top;
  width: 90px;
  display: inline-block;
}
div.buttons {
  text-align: center;
}
div.buttons button {
  margin-top: 5px;
  display: block;
  width: 95px;
}
